<!-- This email is sent when an existing user is added to an organization -->

[[Subject .Subject "You have been added to the [[.OrgName]] Synth account"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4 class="center">You have been added to [[.OrgName]] Synth account.</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p><a href="https://www.section.io" target="_blank">section.io</a> has added you to the <b>[[.OrgName]]</b> organization in Synth by section.io.
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td class="center">
						<table class="better-button" align="center" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center" class="better-button" bgcolor="#006dfe"><a href="[[.AppUrl]]" target="_blank">Log in now</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
